[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
  ignore = dirty
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
  ignore = dirty
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
  ignore = dirty
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
  ignore = dirty
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
  ignore = dirty
[submodule "vim/bundle/vim-liquid"]
	path = vim/bundle/vim-liquid
	url = git://github.com/tpope/vim-liquid.git
  ignore = dirty
[submodule "vim/bundle/vim-ctrlp"]
	path = vim/bundle/vim-ctrlp
	url = git://github.com/kien/ctrlp.vim.git
  ignore = dirty
[submodule "vim/bundle/vim-html5"]
	path = vim/bundle/vim-html5
	url = git@github.com:othree/html5.vim.git
  ignore = dirty
[submodule "vim/bundle/vim-emmet"]
	path = vim/bundle/vim-emmet
	url = git@github.com:mattn/emmet-vim.git
  ignore = dirty
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = git@github.com:tpope/vim-haml.git
  ignore = dirty
[submodule "vim/bundle/vim-mustache-handlebars"]
	path = vim/bundle/vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
  ignore = dirty
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
  ignore = dirty
[submodule "vim/bundle/vim-pug"]
	path = vim/bundle/vim-pug
	url = git@github.com:digitaltoad/vim-pug.git
  ignore = dirty
[submodule "vim/bundle/vim-twig"]
	path = vim/bundle/vim-twig
	url = git@github.com:lumiliet/vim-twig.git
